//Couleurs principales
$background-primary: #f6f6f6;
$background-secondary: #ff6060;
$background-tertiary: #000000;
$background-quaternary: white;

//Couleurs textes
$text-primary: #ffffff;
$text-secondary: #000000;

//Police du texte
$font-primary: 'Montserrat';
