@use '../../styles/variables' as *;

.collapse-container {
  margin-top: 38px;
  font-family: $font-primary;

  .collapse-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .collapse {
    width: 100%;
    max-width: 1000px;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-size: 24px;
    color: $text-primary;
    background-color: $background-secondary;

    h3 {
      padding-left: 15px;
    }
  }

  .collapse-content {
    width: 100%;
    max-width: 1000px;
  }

  .collapse-text {
    padding: 15px;
  }

  .arrow-box {
    padding-right: 9px;
    display: flex;
    align-items: center;
  }

  .arrow {
    font-size: 36px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transform-origin: center; // Centre l'axe de rotation
  }

  .turn {
    transform: rotate(-180deg);
  }

  .appear {
    max-height: 300px; // Ajuste selon le contenu
    background-color: $background-primary; // Fond gris quand visible
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .collapse-container {
    margin-top: 25px;

    .collapse {
      height: 30px;
      border-radius: 5px;
      margin-bottom: 0px;

      h3 {
        font-size: 13px;
      }
    }

    .collapse-text {
      font-size: 13px;
      padding: 12px;
    }

    .arrow-box {
      height: 30px;
    }

    .arrow {
      font-size: 32px;
    }
  }
}
